.UnderWrapper {
    width: 100%;
    height: 100%;
}

.UnderContainer {
    width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media screen and (max-width: 680px) {
.UnderContainer {
    width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    }
}

.UnderProducePart {
    width: 30%;
}

@media screen and (max-width: 680px) {
    .UnderProducePart {
        width: 80%;
    }
}

.UnderProducePartTop {
    display: flex;
    align-items: center;
}

.UnderProducePartGymname {
    font-size: 35px;
    font-weight: 600;
    word-break: break-all;
}

.UnderProducePartMission {
    word-break: break-all;
}

.UnderProducePartSnsicons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.UnderOurservicePart {
    width: 20%;
}

@media screen and (max-width: 680px) {
    .UnderOurservicePart {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.UnderOurservicePartClassTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.UnderOurservicePartClasses {
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.UnderOurservicePartClasse {
    font-size: 20px;
}

.UnderHrTag {
    width: 50%;
}

.UnderWorkinghoursPart {
    width: 20%;
}

@media screen and (max-width: 680px) {
    .UnderWorkinghoursPart {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.UnderWorkinghoursPartTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.UnderWorkinghoursPartBox {
    margin-top: 3%;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.UnderWorkinghoursPartday {
    font-weight: 700;
}