.pcHeader {
    display: block;
}

@media screen and (max-width: 900px) {
    .pcHeader {
        display: none;
    }

}

.mobileHeader {
    display: none;
}

@media screen and (max-width: 900px) {
    .mobileHeader {
        display: block;
    }
}